<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CheckList</title>
</head>
<body>
    <h1>CheckList</h1>
    <div class="container border border-dark col-11">
        <div class="d-flex col-10 flex-fill">
            <div class="col-1 py-2 flex-fill text-center">Username</div>
            <div class="col-3 py-2 flex-fill text-center">Book</div>
            <div class="col-2 py-2 flex-fill text-center">ISBN</div>
            <div class="col-2 py-2 flex-fill text-center">Check-In</div>
            <div class="col-2 py-2 flex-fill text-center">Check-Out</div>
        </div>
    </div>
</body>
</html>