<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="addRecord" method="post">
        <label for="title">Title</label>
        <input name="title" id="title" placeholder="Title">

        <label for="isbn">ISBN</label>
        <input name="isbn" id="isbn" placeholder="ISBN">

        <label for="language">Language</label>
        <input name="language" id="language" placeholder="Language">

        <label for="release">Release</label>
        <input name="release" id="release" placeholder="Release">

        <label for="summary">Summary</label>
        <input name="summary" id="summary" placeholder="Summary">

        <label for="pieces">Pieces</label>
        <input name="pieces" id="pieces" placeholder="Pieces">

        <label for="author">Author</label>
        <select name="author" id="author">
            <th:block th:each="author: ${authorList}">
                <option th:value="${author.getId()}" th:text="${author.getName()}"></option>
            </th:block>
        </select>

        <button type="submit">Add</button>
        <button formaction="cancelNew" formmethod="post">Cancel</button>
    </form>
</body>
</html>