<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <h1>User Management</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="adminPage"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userManagement">Users</a>   <!-- add new page -->
                    </li>
                    <li class="nav-item">
                        <form action="destroy" method="post">
                            <button>Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- main content-->
    <div class="container border border-dark col-11">
        <div class="d-flex flex-fill">
            <div class="col-3 py-2 flex-fill text-center">Username</div>
            <div class="col-2 py-2 flex-fill text-center">Role</div>
            <div class="col-3 py-2 flex-fill text-center">Books</div>
        </div>
        <form class="d-flex flex-fill" action="saveUserChanges" method="post" th:each="user: ${users}">
            <div class="col-3 py-2 flex-fill text-center border border-dark" name="username" th:value="${user.getUsername()}" th:text="${user.getUsername()}" ></div>
           <select class="col-2 py-2 flex-fill text-center" name="role">
               <option th:each="role :${roles}" th:if="${role ==user.getRole()}" selected th:value="${role}" th:text="${role}"></option>
               <option th:each="role :${roles}" th:unless="${role ==user.getRole()}" th:value="${role}" th:text="${role}"></option>
           </select>
            <button th:if="${user.getRole() == 'member'}" formaction="userBooks" formmethod="get" class="col-3">List</button>
            <div th:unless="${user.getRole() == 'member'}" class="col-3"></div>
            <button formaction="saveUserChanges"  formmethod="post" type="submit">Save</button>
            <button formaction="cancelAdmin" class="col-1">Cancel</button>
        </form>
    </div>
</body>
</html>